# ─── Frontend ────────────────────────────────────────────
NEXT_PUBLIC_BASE_URL=http://<your-frontend-domain>
# example: http://localhost:3000

NEXT_PUBLIC_BACKEND=http://<your-backend-domain>/api
# example: http://localhost:8080/api
